%*
*~
._*
derived_data/*txt
#derived_data/*php
interface/compile
/nbproject/private/
*.sass-cache*
.gitmodules
**/node_modules/*
coverage/*
.phpunit.result.cache
**/test-results/*
firebird-common
vendor
*.sw?
