---
version: '3'

services:
  #  traject:
  #    image: hathitrust-catalog-indexer
  #    environment:
  #      - SOLR_URL=http://solr-sdr-catalog:9033/solr/catalog
  #      - redirect_file=/dev/null
  #      - NO_DB=1
  #      - DDIR=/app/examples
  #
  solr-sdr-catalog:
    image: ghcr.io/hathitrust/catalog-solr-sample
    ports:
      - "9033:9033"

  nginx:
    image: nginx
    healthcheck:
      test: ["CMD", "/usr/bin/curl", "-s", "-f", "http://localhost:8080/Search/Home?lookfor=stuff&searchtype=all&ft=&setft=false"]
      interval: 5s
      timeout: 10s
      start_period: 30s
      retries: 5
    ports:
      - "8080:8080"
    volumes:
      - ./docker/nginx-default.conf:/etc/nginx/conf.d/default.conf
      - .:/app
    depends_on:
      - vufind

  vufind:
    build: .
    hostname: 'catalog-dev'
    volumes:
      - .:/app
    depends_on:
      - mysql-sdr
      - solr-sdr-catalog

  mysql-sdr:
    image: mariadb
    volumes:
      - ./docker/vufind.sql:/docker-entrypoint-initdb.d/vufind.sql
    environment:
      - MARIADB_RANDOM_ROOT_PASSWORD=1

  playwright:
    image: mcr.microsoft.com/playwright:v1.34.3-focal
    volumes:
      - ./playwright:/usr/src/app
      - node_modules:/usr/src/app/node_modules
    working_dir: /usr/src/app
    depends_on:
      nginx:
        condition: service_healthy
    command: /bin/sh /usr/src/app/docker_run_playwright_test.sh
    profiles:
      - playwright

  phpunit:
    build: .
    restart: never
    volumes:
      - .:/app
    working_dir: /app
    command: phpunit --coverage-html coverage
    environment:
      - XDEBUG_MODE=coverage

volumes:
  node_modules:
