---

x-condition-healthy: &healthy
  condition: service_healthy

x-healthcheck-defaults: &healthcheck-defaults
  interval: 5s
  timeout: 10s
  start_period: 10s
  retries: 5

services:
  #  traject:
  #    image: hathitrust-catalog-indexer
  #    environment:
  #      - SOLR_URL=http://solr-sdr-catalog:9033/solr/catalog
  #      - redirect_file=/dev/null
  #      - NO_DB=1
  #      - DDIR=/app/examples
  #
  solr-sdr-catalog:
    image: ghcr.io/hathitrust/catalog-solr-sample
    ports:
      - "9033:9033"
    healthcheck:
      <<: *healthcheck-defaults
      test: [ "CMD", "/usr/bin/curl", "-s", "-f", "http://localhost:9033/solr/catalog/admin/ping"]

  nginx:
    image: nginx
    healthcheck:
      <<: *healthcheck-defaults
      test: ["CMD", "/usr/bin/curl", "-s", "-f", "http://localhost:8080/Search/Home?lookfor=stuff&searchtype=all&ft=&setft=false"]
    ports:
      - "8080:8080"
    volumes:
      - ./docker/nginx-default.conf:/etc/nginx/conf.d/default.conf
      - .:/app
    depends_on:
      - vufind

  vufind:
    build: .
    hostname: 'catalog-dev'
    volumes:
      - .:/app
      - ./conf/authspecs-sample.yaml:/app/conf/authspecs.yaml
    environment:
      - FIREBIRD_HOME=/app/firebird-common
    depends_on:
      mysql-sdr: *healthy
      solr-sdr-catalog: *healthy

  mysql-sdr:
    image: mariadb
    volumes:
      - ./docker/vufind.sql:/docker-entrypoint-initdb.d/vufind.sql
    environment:
      - MARIADB_RANDOM_ROOT_PASSWORD=1
    healthcheck:
      <<: *healthcheck-defaults
      test: [ "CMD", "healthcheck.sh", "--su-mysql", "--connect", "--innodb_initialized" ]

  playwright:
    image: mcr.microsoft.com/playwright:v1.53.1
    volumes:
      - ./playwright:/usr/src/app
      - node_modules:/usr/src/app/node_modules
    working_dir: /usr/src/app
    depends_on:
      nginx: *healthy
    command: /bin/sh /usr/src/app/docker_run_playwright_test.sh
    profiles:
      - playwright

  phpunit:
    build: .
    volumes:
      - .:/app
      - ./conf/authspecs-sample.yaml:/app/conf/authspecs.yaml
    working_dir: /app
    depends_on:
      mysql-sdr: *healthy
      solr-sdr-catalog: *healthy
    command: vendor/bin/phpunit --coverage-html coverage
    environment:
      - XDEBUG_MODE=coverage

  firebird:
    image: node:22-slim
    profiles:
      - node
    volumes:
      - ./firebird-common:/app/firebird-common
      - ./.npm:/.npm
    working_dir: /app/firebird-common/
    command: ['npm', 'run', 'babel']

volumes:
  node_modules:
