<?php header("Content-type: text/css"); ?>

/* catalog.hathtrust */
/* fixme:suz is this the right header? */

/* fixme:suz ++++... and make sure i only have the styles I really need++++++ */

/* CB nav */
/*links for navigating collection builder functionality */


/* === Hathi Trust Color Key ===

bright orange: #ef7a06 (logo)
med orange: #c4630f (links)

Gray 1:#494949
Gray 2:#777777
Gray 3:#bbbbbb
Gray 4:#e2e2e2
Gray 5:#eeeeee
Gray 6:#fafafa (light background)

Link styles:
Embeded links should use border-bottom on :link & :hover
Navigational links should only have border-bottom on :hover
*/

/* ==========+++++ MASTER Styles used by ALL (or most) pages +++++==========hi */


/* Basic Styles */

body {
  color: #333333;
  font-size: 90%;
  background-color: #FAFAFA;
  font-family: "Arial Unicode MS", Arial, Verdana, Helvetica, sans-serif;
  line-height: 1.2em;
	min-width: 930px;
	width: 100%;
	padding: 0px;
  margin: 0px;
}

p {
  margin: 0 0 8px 0;
}

h1 {
  color: #333333;
  font-size: 1.3em;
  margin: .75em 0 .5em 0;
}

h2 {
  font-size: 1.2em;
  margin-bottom: 10px;
  padding: 0;
  color:#333333;
}

h3 {
  font-size: 0.95em;
  margin: 0;
  padding-bottom: 2px;
}

br {
  padding: 0;
  margin: 0;
}

img {
  border: 0;
}

img a {
  text-decoration: none;
  border-bottom: 0;
}

.clear {
  clear: both;
}

ul.bullets li {
  list-style-type: disc !important;
  border: none !important;
  padding: 0 0 4px 0 !important;
  margin:0 0 0 25px !important;
  font-size: 0.9em;
}

a:link, a:visited {
  color: #c4630f;
  text-decoration: none;
}

a:hover, a:focus, a:active {
  color: #ef7a06;
  text-decoration: underline;
}

a.inlineLink:link, a.inlineLink:visited,
.mbHomeContainer a:link, .mbHomeContainer a:visited,
#HelpContent a:link, #HelpContent a:visited {
  color: #777777;
  text-decoration: underline;
}

a.inlineLink:hover, a.inlineLink:focus, a.inlineLink:active,
.mbHomeContainer a:hover, .mbHomeContainer a:focus, .mbHomeContainer a:active,
#HelpContent a:hover, #HelpContent a:focus, #HelpContent a:active {
  color: #ef7a06;
  text-decoration: underline;
}

#masthead, #CBNav, #mbContentContainer, #SubNavHeaderCont {
  margin: 0 auto;
  width: 96%;
}

span.strong {
  font-weight:bold;
}

em {
  font-style: italic;
}

/* use to hide code from display but NOT screenreaders */
.SkipLink, .SearchLabel {
  position:absolute;
  left:-1000px;
  width:1px;
  height:1px;
  overflow:hidden;
}

/* use to hide code from display but NOT screenreaders */
.hidden {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}



/* New containers etc to replace yui divs */

#contentContainer {
}

/* Full-text & view only icons */

.searchonly {
  padding-left: 20px;
  background: transparent url(/images/hathi/Icon_SearchOnly.gif) no-repeat center left;
}

.fulltext {
  padding-left: 20px;
  background: transparent url(/images/hathi/Icon_FullText.gif) no-repeat center left;
}

.cataloglinkhref {
  padding-left: 20px;
  background: transparent url(/images/hathi/icon_information.png) no-repeat center left;
}

/* Used on list_items & search results to show which collection you're currently viewing */
.MBooksCol {
  position: relative;
  float: left;
	top: 3px;
}

.colName {
  color: #ef7a06;
}


/*========== Header ==========*/
#mbHeader {
  width:100%;
  background-color: #fff;
  border-top: 5px solid #494949;
  /*background: url(/m/mdp/graphics/stripe_bkg.png) repeat-x;*/
  height: 125px;
  text-indent:0;
}

#masthead {
  height: 55px;
  padding: 0;
}

.branding {
  float: left;
  position: relative;
}

.brandingLogo {
  height: 51px;
  float: left;
  margin-top: 4px;
}

.brandingLogo span {
  position: relative;
  top: -15px;
  left: 14px;
  color: #6a6b6e;
  font-size: 1.7em;
}

.brandingLogo a {
  text-decoration: none;
}

.MBooksNav {
  float: right;
  font-size: .75em;
  position: relative;
  font-size: .85em;
  color: #eeeeee;
  background: #494949 url(/images/hathi/corner_left.png) no-repeat left bottom;
  padding-left: 3px;
}

.MBooksNav ul {
  list-style-type: none;
  margin: 0 0 0 5px;
  padding: 0;
}

.MBooksNav ul li {
  display: inline;
  text-align: center;
  padding: 0;
  margin: 0;
  float: left;
  background:none;
}

.MBooksNav ul li a {
  padding: 5px 8px 7px;
  line-height: 18px;
  color: #eeeeee !important;
}

/* CB nav */

/*links for navigating collection builder functionality */

#CBNavContainer {
  height: 30px;
  background: #eeeeee url(/images/hathi/grayGradient.gif) repeat-x;
  border-top: 1px solid #c9c7b8;
  border-bottom: 1px solid #E2E2E2;
}

#CBNav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#CBNav ul li {
  display: inline;
  height: 30px;
  text-align: center;
  padding: 0;
  margin: 0;
  border:none;
  float: left;
  background: none;
}

#CBNav ul li a {
  padding: 5px 10px 7px;
  float: left;
  font-size: 1.1em;
  padding: 5px 10px 7px;
  line-height: 18px;
  color: #fafafa;
}

#CBNav ul li a:active {
  padding: 5px 10px 7px;
  float: left;
  font-size: 1.1em;
  padding: 5px 10px 7px;
  line-height: 18px;
  color: #fafafa;
}

#CBNav ul li a:hover {
  padding: 5px 10px 7px;
  background-color: #E2E2E2;
  color:#333333;
}

#CBNav select {
  margin-right: 10px;
  position: relative;
  top: 3px;
}

#CBNav #selected {
  background-color:#E2E2E2;
}

#CBNav #selected a {
  color:#333333;
  border-bottom:0px;
}

/* Subnav HEADER */

#SubNavHeader {
  position: relative;
  display: inline;
  width: 100%;
  background-color: #e2e2e2;
  height: 1.5em;
  color: #333333;
  font-size: 1.0em;
  float: left;
  border-bottom: 2px solid #ddd;
  clear: right;
  padding: 5px 0;
}

#SubNavHeader h1 {
  padding: 0;
  margin: 0 0 0 10px;
  font-size: 1.1em;
  font-weight: normal;
}

#SubNavHeader form {
  padding: 0;
  margin: 0;
  font-size: 1.0em;
  font-weight: normal;
}

#SubNavHeaderCont {
	position: relative;
}

.newCol {
  position: relative;
  float: left;
	margin-left: 20px;
}

.CollPage {
  position: relative;
  float: left;
  font-size: 1.1em;
  margin: 0 0 0 10px;
  color: #333;
  line-height: 1.2em;
}

.mainsearch {
  position: relative;
  float: right;
  top: -2px;
}

.mainsearch h2 {
	padding: 0;
	margin: 0;
	display:inline;
	font-size: 1em;
	font-weight: normal;
}

/*========== VF Searchbox ==========*/

#searchGraphic {
  float:left;
}

#searchGraphic img {
  padding-right:5px;
  position:relative;
  top: 7px;
}

#searchTips {
  padding-left: 25px;
  font-style: italic;
}

/*========== HOME PAGE ==========*/

.colMain {
  position: relative;
  float: left;
  width: 98%;
  margin-left:20px;
}

.colSide {
  position: relative;
  float: left;
  width: 25%;
  background-color: #eeeeee;
  padding: 20px;
}

.colSide h3 {
  border-bottom: 1px solid #999;
}

.colSide h4 {
  font-size: 115%;
}

.BoxCont {
  width:33%;
  position: relative;
  float:left;
  margin-top: 20px;
}

.HomeBox {
  border: 1px solid #CCC;
  padding: 8px;
  margin: 5px 15px 0 0;
  background-color: #FAFAFA;
}

.HomeBox h4 {
  border-bottom: 1px solid #CCC;
  margin-top: 15px;
}

.HomeBox h5 {
  color: #808080;
  font-size: 110%;
}

.HomeBox p{
  font-size: 85%;
  margin: 10px 0 10px 0;
}

.Box3 form {
  text-align:center;
  padding: 6px 0;
}

.tab {
  background : #ef7c22 url(/images/hathi/OrangeTab_bkg.png) repeat-x;
  height : auto;
  position : relative;
  padding : 5px 3px 0 8px;
  top: 6px;
  width : 11.5em;

}

.tr, .tl {
  display : block;
  position : absolute;
  width: 9px;
  height: 9px;
}

.tl {
  background : transparent url(/images/hathi/OrangeTab_left.gif) no-repeat;
  top : 0;
  left : 0;
}

.tr {
  background : transparent url(/images/hathi/OrangeTab_right.gif) no-repeat;
  top : 0px;
  right: 0;
  *right:-1px;
}


.bl {
  background : transparent url(/images/hathi/OrangeTab_BL.png) no-repeat;
  width : 18px;
  height : 12px;
  margin-bottom : -1px;  /* this is for IE */
  top : -8px;
  left : -2px;
  position: relative;
  display: block;
}

.tab h3 {
  padding: 0;
  margin: 0;
  color: #FFF;
  line-height:1.3em;
}

#CatalogBox h3 {
  padding-left: 20px;
  background: transparent url(/images/hathi/icon_information.png) no-repeat center left;
}

#LSBox h3 {
  padding-left: 20px;
  background: transparent url(/images/hathi/icon_LSsearch.png) no-repeat center left;
}

#BrowseBox h3 {
  padding-left: 25px;
  background: transparent url(/images/hathi/icon_books.png) no-repeat center left;
}

.box1 .SearchForm {
  margin: 20px 0 20px
}

.box2 .SearchForm {
  margin: 20px 0 60px
}

form {
  font-size: 100%;
}

.searchterms {
  width:80%;
}

.SearchForm div {
  margin-bottom: 10px;
}

.SearchForm button {
/*  position:relative;
  float:right;*/
}

.SearchForm input#fullonly {
  margin-left: 8px;
}

.itemList {
  clear: both;
  padding-top:10px;
  display:none; /* hide the items at first only */
}

img.imgLeft {
  background: #FFF;
  border: 1px solid #CCC;
  float: left;
  margin-right: 10px;
  padding: 4px;
  width: 100px;
}

img#betaburst {
  float:left;
  position:relative;
  top:-2px;
  width:35px;
  margin-right: 5px;
}

p.clear {
  clear:both;
  margin:0;
  height:0;
}

p.FindDesc {
  font-size: 1.1em;
  color: #000;
}

.advSearch {
  padding-top: 10px;
  font-size: .9em;
}

/*========== Popout boxes ==========*/
#searchtips_help {
  text-align:left;
}
#gettingStarted .heading  {
  font-weight:bold;
}
#gettingStarted .gettingStarted_container  {
  width:100%;
}
#gettingStarted .column1  {
  text-align:left;
  width:50%;
  float:left;
}
#gettingStarted .column2  {
  text-align:left;
  width:50%;
  float:left;
}
#gettingStarted .gettingStarted_middle {
  clear:both;
}
.feedback_form {
  width:100%;
}
/*========== Search Results View ==========*/

.AccessLink {
  padding: 8px 0 8px 12px;
}

.AccessLink ul li {
  display: inline;
  float: left;
  margin-right: 20px;
}

.multivolLink {
  color: #666;
}

span.IndItem {
  padding: 0 5px;
}

/*========== Detail Record ==========*/

#HT_holdings {
}

#accessLinks {
  padding-top: 12px;
}

#accessLinks em {
  color: #666;
}

#accessLinks ul li {
  padding-top: 3px;
}

ul.ToolLinks {
  position:relative;
  float:right;
}

ul.ToolLinks li {
  display:inline;
}

table.citation {
}

/*========== Footer ==========*/

#mbFooter {
  clear: left;
  background-color: #777777;
  color: #FFF;
  width: 100%;
  float: left;
  height: 40px;
  margin-top: 50px;
	border-top:3px solid #6a6a6a;
}

#mbFooter a {
  color: #FFF;
}

#FooterCont {
  margin: 0 auto;
  width: 96%;
	clear: left;
}

.footerBrandingLinks {
  float: left;
  font-size: .9em;
  font-weight: normal;
  font-style: italic;
}

.footerBrandingLinks span {
  font-size: 1em;
  font-style: normal;
}

.footerBrandingLinks a {
  color: #FFF;
}

#mbFooter .MBooksNav {
  background: none;
  color: #FFF;
  position: relative;
  top: 12px;
}


/*For mdpFeedback*/

#panel1 {
  display:block;
  position:absolute;
  top:100;
  left:100;
}

#feedback {
        padding:10px;
    }


    #formWidget .bd {
        overflow:auto;
        height:360px;
        padding:10px;
    }

    #mdpFBError .bd {
        height:auto;
    }

    #formWidget .ft {
        height:15px;
        padding:0;
    }

    #formWidget .yui-resize-handle-br {
        right:0;
        bottom:0;
        height: 1px;
        width: 1px;
        position:absolute;
    }

    /*
        The following CSS is added to prevent scrollbar bleedthrough on
        Gecko browsers (e.g. Firefox) on MacOS.
    */

    /*
        PLEASE NOTE: It is necessary to toggle the "overflow" property
        of the body element between "hidden" and "auto" in order to
        prevent the scrollbars from remaining visible after the the
        Resizable Panel is hidden.  For more information on this issue,
        read the comments in the "container-core.css" file.

        We use the #reziablepanel_c id based specifier, so that the rule
        is specific enough to over-ride the .bd overflow rule above.
    */

    #formWidget_c.hide-scrollbars .yui-resize .bd {
        overflow: hidden;
    }

    #formWidget_c.show-scrollbars .yui-resize .bd {
        overflow: auto;
    }

    /*
        PLEASE NOTE: It is necessary to set the "overflow" property of
        the underlay element to "visible" in order for the
        scrollbars on the body of a Resizable Panel instance to be
        visible.  By default the "overflow" property of the underlay
        element is set to "auto" when a Panel is made visible on
        Gecko for Mac OS X to prevent scrollbars from poking through
        it on that browser + platform combintation.  For more
        information on this issue, read the comments in the
        "container-core.css" file.
    */

    #formWidget_c.show-scrollbars .underlay {
        overflow: visible;
    }



/* Added by bill to make it look like fulltext search */

#applied_filters {
  margin-bottom: 1.5em;
  padding: 0.5em 0.5em 0.5em 0em;
  background-color: #fafafa;
  border: 1pt solid #ebece4
}

#applied_filters ul {
  margin-left: 1.5em;
}

.facetbutton {
  padding-right: 2px;
  vertical-align: middle;
}

#listleftcol h3 {
  font-weight: bold;
}