<?php header("Content-type: text/css"); ?>

* {
  padding:0;
  margin:0;
}

body {
  font-family:arial, helvetica;
}

a:link, a:hover, a:active {
  color:#EF7A06;
}

a:visited {
  color:#C4630F;
}

h1 a, h1 a:visited, h1 a:active {
  font-size: 20px;
  font-color: #999;
  text-decoration:none;
}

h2 {
  font-size: 18px;
  margin: 15px 0;
}

h3 {
  font-size: 16px;
  padding:10px 0 0 0;
  margin:0;
}

img {
  border: 0 none;
}

ul {
  margin:0;
  padding:0;
}

li {
  list-style-type: none;
}

.strong {
  font-weight: bold;
}

input {
  font-size: 16px;
  margin: 8px 0 0;
  padding: 6px 6px 6px 44px;
  width:100%;
}

#container {
  padding: 8px;
}

#mHeader {
  border-bottom: 2px solid #CCC;
  margin-bottom: 3px;
  padding: 0;
  background: #EEEEEE url(/images/hathi/grayBackground.png) repeat-x scroll 0 0;
}

#searchbox {
  clear: both;
  padding-bottom: 20px;
}

.search-field {
  font-size: 18px;
  margin: 4px 0;
  padding: 2px;
  width: 100%;
}

select[name="type"] {
  float:left;
  font-size:16px;
  margin-bottom: 5px;
}

input[name="submit"] {
  float:right;
  margin:0px 0 10px 10px;
  width:80px;
  font-size:16px;
  text-align:center;
}

.resultsOptions {
  padding: 8px;
  clear:both;
  border-bottom: 1px solid #CCC;
}

ul#mResultsListList li{
  font-size: 14px;
  padding: 5px 0 5px 5px;
  margin:0;
  border-bottom: 1px solid #ccc;
}

span.bookCoverImg {
  display:block;
  position: absolute;
  border: 1px solid #ccc;
}

.itemMetaData {
  padding-left: 5px;
}

#resultItemLine1 {
  font-size: 18px;
}

#resultItemLine2 {
  font-size: 14px;
  color: #333;
}

.pagination a {
  padding:3px;
}

/* Record specific styles */

.bibTitle {
  clear:both;
  padding-top: 4px;
}

span.previous {
  float:left;
}

span.next {
  float: right;
}

table#bibTable {
  font-size:12px;
  border: 1px solid #ccc;
  padding: 3px;
}

table#bibTable th {
  text-align:left;
  padding: 3px 0;
}

table#bibTable td {
  padding: 3px 0;
}

#accessLinks li {
  margin: 15px;
  font-size: 18px;
}

.searchonly {
  background: transparent url(/images/hathi/Icon_SearchOnly.gif) no-repeat center left;
  padding-left:20px;
}

.fulltext {
  background: transparent url(/images/hathi/Icon_FullText.gif) no-repeat center left;
  padding-left:20px;
}


/* Footer */
#mFooter {
  background-color:#ccc;
  padding: 8px;
  margin-top:20px;
  clear:left;
}